body{
    background-color: black;
}

h1{
    color: white;
}

.calculadora{
    text-align: center;
    margin-top: 5em;
}
.calculadora h2{
    height: 50px;
    color: white;
}

button{
    margin-top: 2em;
    height: 2.2em;
    width: 7em;
    
}

.autor{
    text-align: center; 
    margin-top: 19em;
    height: 5px;
    color: white;
}
.autor h3{
    text-align: center;
}

.redesocial{
    text-align: center;
}